@import "../../generic/mixins";
@import "../../generic/variables";

.world {
    margin-top: 15px;

    .world-button {
       border: none;
       border-radius: 50%;
       opacity: $opacityHidden;
    }

    .selected {
        opacity: $opacityVisible;
    }
    
    img {
        @include imgBonus($widthBonus, $heightBonus, 3px, $borderRadius);
    }
}