// Couleurs
$border-color: gray;
$background-color: #242c387a;
$active-background-color: #5d8f1cc4;
$slider-color: #2196F3;
$text-color: #FFF;

// Dimensions
$font-size: 16px;
$border-radius: 15px;
$slider-size: 30px;
$icon-size: 32px;
$input-height: 20%;
$padding: 10px;
$margin: 10px;
$slider-width: 120px;
$form-width: 50%;
