.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;

    .left-side {
        display: flex;
        align-items: center;
        gap: 15px;

        .logo {
            width: 46px;
            height: 46px;
            border-radius: 50%;
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            color: #000;
        }
    }

    .burger-menu {
        display: none;

        .burger-icon {
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
        }

        .menu-content {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 10px;
            background-color: white;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            border-radius: 8px;

            .menu-button {
                padding: 10px;
                border: none;
                background: none;
                text-align: left;
                cursor: pointer;
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }

    .button-group {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            background: none;
            border: none;
            cursor: pointer;

            .icon {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .button-group {
        display: none;
    }

    .burger-menu {
        display: block;
    }
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    .button-group {
        display: flex;
    }
}

@media (min-width: 1680px) {
    .header {
        width: 90%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 5px auto 10px auto;
        border-bottom: 1px solid #ccc;

        .logo {
            width: 64px;
            height: 64px;
        }

        .button-group {
            gap: 20px;

            button .icon {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}