.sublimations-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .sublimations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .cntr {
    display: table;

    .cntr-innr {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  .search {
    display: inline-block;
    position: relative;
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 8px 7px 0px;
    padding: 7px 9px 0px 9px;
    border: 3px solid #777777;
    border-radius: 25px;
    background-color: #555555;
    transition: all 200ms ease;
    cursor: text;

    .search-icon {
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      font-size: 16px;
      color: #FFFFFF;
      transition: all 200ms ease;
    }

    &.active,
    &:hover {
      width: 180px;
      margin-right: 0px;

      .search-icon {
        left: 12px;
      }
    }

    input {
      display: flex;
      width: 100%;
      border: none;
      box-sizing: border-box;
      font-size: 15px;
      color: #FFFFFF;
      background: transparent;
      outline-width: 0px;
      padding-left: 30px;
    }
  }
}

.sublimation-item {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  position: relative;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
  }

  &-info {
    display: flex;
    flex-direction: column;

    div:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 3px;

      .label-sublimation {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        color: #333;

        p {
          font-weight: bold;
        }
      }
    }

    .shards {
      display: flex;
      flex-direction: row;

      .rune-image {
        width: 30px;
        height: 30px;
        margin-right: 5px;
        transition: transform 0.4s ease, box-shadow 0.4s ease;

        &:hover {
          transform: scale(1.1);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .sublimation-levels {
      display: flex;

      .level-container {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        transition: transform 0.4s ease, box-shadow 0.4s ease;
        
        &:hover {
          transform: scale(1.1);
        }

        .level-image {
          width: 40px;
          height: 40px;
          border-radius: 4px;
          cursor: pointer;

          &:hover + .sublimation-tooltip {
            display: block;
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .level-number {
          position: absolute;
          bottom: 3px;
          right: 3px;
          background-color: rgba(0, 0, 0, 0.7);
          color: white;
          font-size: 12px;
          font-weight: bold;
          padding: 2px 4px;
          border-radius: 50%;
          z-index: 1;
        }
      }
    }
  }

  &-parchments {
    display: flex;

    .parchment-item {
      position: relative;
      margin-right: 5px;
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &:last-child {
        margin-right: 0;
      }

      .parchment-image {
        width: 40px;
        height: 40px;
      }

      .parchment-index {
        position: absolute;
        bottom: 3px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 4px;
        border-radius: 3px;
      }
    }
  }
}

.sublimation-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 360px;
  transition: opacity 0.3s ease, transform 0.3s ease;

  > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .hovered-image {
      position: relative;

      .level-image {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        object-fit: contain;
        margin-right: 5px;
      }

      .level-number {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 4px;
        border-radius: 50%;
        z-index: 1;
      }
    }

    > div:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .label-sublimation {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .shards {
    display: flex;
    margin-bottom: 5px;

    .rune-image {
      width: 30px;
      height: 30px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .description {
    margin-left: 10px;
  }
}
