html {
   height: 100%; 
}

html, body {
    margin: 0;
    padding: 0;    
}

body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

body::before {
    content: "";
    background-image: url("../public/2560x1440_Zaap.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    width: 90%;
    display: flex;
    flex-direction: row;
    min-height: 80%;
    margin: 2vh 0;
    background-color: white;
    opacity: 0.9;
    padding: 20px 0;
    border-radius: 15px;
}

main > div:first-child {
    margin-left: 2%;
}

main > div:last-child {
    width: 53%;
    margin-left: 2%;
}

.barreEquipement div {
    margin: 10px 0;
}

.statsGlobales > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: space-evenly;
	align-items: center;
}

/*-------------------------------------------------------------------
----															 ----
----						Footer							     ----
----															 ----
-------------------------------------------------------------------*/

footer {
    width: 90%;
    background-color: #404040;
    border-top: solid;    
    margin-bottom: 0;
    border-radius: 15px;
}

.divFooter {
    width: 100%;
    --tw-text-opacity: 1;
    color: white;
    align-items: center;
}

.messageFooter {
    align-items: center;
    text-align: center;
}

/*-------------------------------------------------------------------
----															 ----
----						Header							     ----
----															 ----
-------------------------------------------------------------------*/

header {
    background-color: #333;
    color: #fff;
    width: 90%;
    margin-top: 2vh;
    border-radius: 15px;
}

header nav {
    width: 100%;
}

header img {
    width: 40px;
    height: 40px;
}

.dropdown-content {
    display: none;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header ul:last-child {
   padding: 0 5%; 
}

header ul li {
    padding-left: 20px;  
}

header nav ul:first-child a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 18px;
}

.lang-dropdown .flag {
    cursor: pointer;
}

.lang-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.lang-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.lang-dropdown .dropdown-content a {
    padding: 0;
    margin: 0;
}

.lang-dropdown .dropdown-content a:hover {
    background-color: #555;
} 

/*-------------------------------------------------------------------
----															 ----
----						Section 1							 ----
----															 ----
-------------------------------------------------------------------*/

.sect1 {
	border: 1px solid gray;
	border-radius: 15%;
	padding: 10px;
	margin: 10px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 2							 ----
----															 ----
-------------------------------------------------------------------*/

.bonusGN {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.sect2 form {
	display: flex;
	flex-direction: column;
}

.sect2 form input {
    width: 60%;
}

.slider-container1, .slider-container2 {
    position: relative;
    width: 150px; 
    background-color: #242c387a;
    height: 30px;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.guild-text, .nation-text {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    color: #FFF; 
    pointer-events: none; 
	-webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sliderG, .sliderN {
    position: absolute;
    width: 30px;
    height: 30px; 
    background-color: #2196F3; 
    border-radius: 50%; 
    transition: 0.3s;
    left: 0;
    z-index: 1;
}

.sliderG.active, .sliderN.active {
    left: 80%; 
}

.slider-container1.active, .slider-container2.active {
    background-color: #5d8f1cc4;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 3							 ----
----															 ----
-------------------------------------------------------------------*/

.sect3 > div {
	padding: 5px;
	margin: 5px 1px;
}

.sect3 img {
	width: 20px;
	height: 20px;
}

.sectionAbility p, .sectionAbility span {
    padding: 0 5px;
}

.sect3 .elementsAd div:first-child img {
	width: 25px;
	height: 25px;
}

.abilities {
	display: flex;
	flex-direction: row;
}

.abilities div div {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.editable-element-hp {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.valueHp {
	display: inline-block;
}

.inputHp {
	display: none;
	width: 80px;
}

.elementsAd {
	margin: 2px 10px;
}
.elementsAd div {
	width: 120px;
	height: 20px;
}

.elementsAd > div {
	width: 120px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 15px;
}

.elements, .armorR, .armorG, .receivedA, .givenA, .masteryPrimal, 
.masterySecondary, .masteryPrimal div div, .masterySecondary div div, 
.sectionAbility, .elementsAd div, .elementsAd {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	
}

.masteryPrimal p, .masterySecondary p {
    padding: 0 5px;
}

.armorR, .armorG, .masteryPrimal div div, .masterySecondary div div, 
.sectionAbility {
	margin: 2px 10px;
}

.armorG, .armorR, .statsP, .statsS, .sectionAbility{
	width: 250px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 15px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 4							 ----
----															 ----
-------------------------------------------------------------------*/

.sect4 {
	display: flex;
    justify-content: center;
    flex-direction: column;
    width: 315px;
}

.equipment-table {
    align-self: center;
}

.equipment-table {
    display: inline-block;
    background-color: #F5F5F5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    table-layout: fixed;
    margin: 0;
    width: unset;
    border-radius: 8px;
    padding: 8px;
}

table {
    background-color: rgba(0, 0, 0, 0.02);
    margin: 0 0 1.6em;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.npc {
	display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: #EEEEEE;
    border: 1px solid #CFCFCF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    padding: 4px;
    margin: 2px;
}

.canvas-cell {
    position: relative;
    text-align: center;
    width: 120px;
    height: 160px;
}

.arrow-rotate-left {
    left: 12px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.arrow-rotate-right, .arrow-rotate-left {
    position: absolute;
    bottom: 8px;
    width: 24px;
    height: 24px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 5							 ----
----															 ----
-------------------------------------------------------------------*/

.tab {
    display: none;
}
.active-tab {
    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: space-between;
}

.tab-link {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f1f1f1;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
}
.tab-link:hover {
    background-color: #ddd;
}  

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}
  
.sliders_control {
    position: relative;
    min-height: 50px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
}
  
input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}
  
input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
  
input[type="number"] {
    width: 50px;
    height: 30px;
    border: none;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 0;
    display: none;
}
  
input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}
  
#fromSlider {
    height: 0;
    z-index: 1;
}

.listItems {
    width: 100%;
    height: 100%;
    background-color: grey;
}

#tab1 {
    width: 100%;
    flex-direction: row;
    border: 1px solid grey;
}

#tab1 > div {
    display: flex;
    flex-direction: column;  
}

.searchListItems {
    width: 55%;
    height: 600px;
    background-color: green;
}

.filters {
    width: 45%;
    padding: 5px 10px;
}

.filterRarity, .filterItem, .listStats {
    align-items: center; 
    padding: 5px; 
}

.filterRarity > div:nth-child(1), .filterItem > div:nth-child(1), .listStats > div:nth-child(1) {
    margin: 0 10px;
}

.listStats > div:nth-child(3) {
    display: flex;
    flex-direction: row;
}

.listStats > div:nth-child(3) div {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
    margin: 0 10%;
}

.listStats > div:nth-child(2) {
    margin: 5% 0;
}
/*-------------------------------------------------------------------
----															 ----
----						Section 5 - Sorts					 ----
----															 ----
-------------------------------------------------------------------*/

.deck {
   list-style: none; 
   display: flex;
   flex-direction: column;
   border: 1px solid grey;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.actif > div, .passif > div {
    display: flex;
    flex-direction: row;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 5 - Enchantement			 ----
----															 ----
-------------------------------------------------------------------*/

#tab4 {
    flex-direction: row;
    justify-content: space-around;
}

.titreRunes, .titreEnchantement {
    margin-bottom: 20px;
}

.titreRunes p, .titreEnchantement p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.runes, .enchantement {
    border: 1px solid grey;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75); 
}

.runes {
    width: 40%; 
    height: auto;
    margin-right: 10px;
}

.enchantement {
    width: 60%;
}

.pageVide > div {
    display: flex;
    flex-direction: row;
}

.pageVide div div:first-child img {
    width: 24px;
    height: 24px;
}

.pageVide div div:last-child img {
    width: 25px;
    height: 25px;
}

.pageVide div div:nth-child(2) img {
    width: 40px;
    height: 31px;
}

.pageVide > div {  
    padding: 1px 10px;
    margin: 5px 10px;;  
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75); 
}

.pageVide > div, .listeEnchantLiaison {
    border: 1px solid grey;
    border-radius: 5px;   
}

.pageVide > div, .listeEnchantLiaison div {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.lesEnchants {
    padding: 0 10px;
}

.listeEnchantLiaison {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 1px 0;
}

.listeEnchantLiaison > div img {
    width: 24px;
    height: 24px;
}

.listeEnchantLiaison > div p {
   padding: 0 5px; 
}

.listeEnchantLiaison div {
    display: flex;
    flex-direction: row;
}

.listeEnchantLiaison div img, .listeEnchantLiaison div p {
    margin: 0;
}

.pageVide > div:first-child {
    margin-top: 10px;
}

.pageVide > div:nth-child(10) {
    margin-bottom: 10px;
}

.pageVide > div > div:nth-child(2) > img:first-child {
    opacity: 0.6;
}

.enchantSpe {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 0 5px;
    justify-content: space-between;
    align-items: center;
}

.enchantSpe div:nth-child(2) {
    width: 25px;
    height: 25px;
    border: 1px solid grey;
}

.enchantSpe img {
    width: 32px;
    height: 32px;
}
