html {
   height: 100%; 
}

html, body {
    margin: 0;
    padding: 0;    
}

body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    overflow: auto;
}

body::before {
    content: "";
    background-image: url("../public/2560x1440_Zaap.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

main {
    width: 90%;
    display: flex;
    flex-direction: row;
    min-height: 80%;
    margin: 2vh 0;
    background-color: white;
    opacity: 0.9;
    padding: 20px 0;
    border-radius: 15px;
}

main > div:first-child {
    margin-left: 2%;
}

main > div:last-child {
    width: 53%;
    margin-left: 2%;
}

.barreEquipement div {
    margin: 1px 0;
}

.statsGlobales > div {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-content: space-evenly;
	align-items: center;
}

.majuscules {
    text-transform: uppercase;
}

/*-------------------------------------------------------------------
----															 ----
----						Footer							     ----
----															 ----
-------------------------------------------------------------------*/

footer {
    width: 90%;
    background-color: #404040;
    border-top: solid 1px yellow;    
    margin-bottom: 1%;
    border-radius: 15px;
}

.divFooter {
    width: 100%;
    --tw-text-opacity: 1;
    color: white;
    align-items: center;
}

.messageFooter {
    align-items: center;
    text-align: center;
}

/*-------------------------------------------------------------------
----															 ----
----						Header							     ----
----															 ----
-------------------------------------------------------------------*/

header {
    background-color: #333;
    color: #fff;
    width: 90%;
    margin-top: 2vh;
    border-radius: 15px;
    border-top: solid 1px blue;
    border-left: solid 1px blue;
    border-bottom: solid 2px green;
    border-right: solid 2px green;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
    align-items: center;
}

header nav > ul:first-child img {
    width: 60px;
    height: 60px;;
}

header img {
    width: 40px;
    height: 40px;
}

.dropdown-content {
    display: none;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header ul:last-child {
   padding: 0 5%; 
}

header ul li {
    padding-left: 20px;  
}

header nav ul:first-child a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 18px;
    align-items: center;
}

.lang-dropdown .flag {
    cursor: pointer;
}

.lang-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    z-index: 1;
}

.lang-dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.lang-dropdown .dropdown-content a {
    padding: 0;
    margin: 0;
}

.lang-dropdown .dropdown-content a:hover {
    background-color: #555;
} 

/*-------------------------------------------------------------------
----															 ----
----						Section 1							 ----
----															 ----
-------------------------------------------------------------------*/

.sect1 {
	border: 1px solid gray;
	border-radius: 15%;
	padding: 10px;
	margin: 10px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 2							 ----
----															 ----
-------------------------------------------------------------------*/

.bonusGN {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.sect2 > div:nth-child(1) {
    display: flex;
    flex-direction: row;
}

.sect2 form {
	display: flex;
	flex-direction: column;
    width: 50%;
    margin: 15px 0;
}

.sect2 form > label:first-child {
    margin: 10px 0;
}

.sect2 form input {
    width: 70%;
    height: 20%;
    border: 1px solid grey;

}

.slider-container1, .slider-container2 {
    position: relative;
    width: 120px; 
    background-color: #242c387a;
    height: 20px;
    border-radius: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.guild-text, .nation-text {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    color: #FFF; 
    pointer-events: none; 
	-webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sliderG, .sliderN {
    position: absolute;
    width: 30px;
    height: 30px; 
    background-color: #2196F3; 
    border-radius: 50%; 
    transition: 0.3s;
    left: 0;
    z-index: 1;
}

.sliderG.active, .sliderN.active {
    left: 80%; 
}

.slider-container1.active, .slider-container2.active {
    background-color: #5d8f1cc4;
}

.prioElem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.prioElem img {
    width: 28px;
    height: 28px;
}

.prioElem div {
    padding-right: 10px;
}

.prioElemAA {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 3							 ----
----															 ----
-------------------------------------------------------------------*/

.sect3 > div {
	padding: 5px;
	margin: 5px 1px;
}

.sect3 img {
	width: 20px;
	height: 20px;
}

.sectionAbility p, .sectionAbility span {
    padding: 0 5px;
}

.sect3 .elementsAd div:first-child img {
	width: 25px;
	height: 25px;
}

.abilities {
	display: flex;
	flex-direction: row;
}

.abilities div div {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}

.editable-element-hp {
	display: inline-block;
	cursor: pointer;
	user-select: none;
}

.valueHp {
	display: inline-block;
}

.inputHp {
	display: none;
	width: 80px;
}

.elementsAd {
	margin: 2px 10px;
}
.elementsAd div {
	width: 120px;
	height: 20px;
}

.elementsAd > div {
	width: 120px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 15px;
}

.elements, .armorR, .armorG, .receivedA, .givenA, .masteryPrimal div div, .masterySecondary div div, 
.sectionAbility, .elementsAd div, .elementsAd {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	
}

.elements, .masteryPrimal, .masterySecondary {
    display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	align-content: center; 
}

.masteryPrimal p, .masterySecondary p {
    padding: 0 5px;
}

.armorR, .armorG, .masteryPrimal div div, .masterySecondary div div, 
.sectionAbility {
	margin: 2px 10px;
}

.armorG, .armorR, .statsP, .statsS, .sectionAbility{
	width: 250px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 15px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 4							 ----
----															 ----
-------------------------------------------------------------------*/

.sect4 {
	display: flex;
    justify-content: center;
    flex-direction: row;
    width: 315px;
}

.equipment-table {
    align-self: center;
}

.equipment-table {
    display: inline-block;
    background-color: #F5F5F5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    table-layout: fixed;
    margin: 0;
    width: unset;
    border-radius: 8px;
    padding: 8px;
}

table {
    background-color: rgba(0, 0, 0, 0.02);
    margin: 0 0 1.6em;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.npc {
    width: 600px;
    height: 300px;
	display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    background-color: #EEEEEE;
    border: 1px solid #CFCFCF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    padding: 4px;
    margin: 2px;
}

.canvas-cell {
    position: relative;
    text-align: center;
    width: 120px;
    height: 160px;
}

.arrow-rotate-left {
    left: 12px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.arrow-rotate-right, .arrow-rotate-left {
    position: absolute;
    bottom: 8px;
    width: 24px;
    height: 24px;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 5							 ----
----															 ----
-------------------------------------------------------------------*/

.tab {
    display: none;
}

.active-tab {
    display: flex;
    flex-direction: column;
}

#tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: space-around;
}

#tab1 {
    flex-direction: row;
}

.tab-link {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f1f1f1;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    user-select: none;
}
.tab-link:hover {
    background-color: #ddd;
}  

.range_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    position: relative;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}
  
input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
}
  
input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}
  
input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}
  
input[type="number"] {
    width: 50px;
    height: 30px;
    border: none;
}
  
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 0;
    display: none;
}
  
input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 3px;
    width: 100%;
    background-color: #C6C6C6;
    pointer-events: none;
}

#tab1 {
    width: 100%;
    flex-direction: row;
    border: 1px solid grey;
}

#tab1 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.searchListItems {
    width: 55%;
    height: 600px;
    background-color: grey;
}

.filters {
    width: 45%;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.listStats {
    width: 100%;
}

.optionsSearchItem {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 100px;
    overflow-y: auto; 
    width: 100%;
}

.boutonsRecherche {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.boutonsRecherche button {
    padding: 10px;
    color: red;
}

.sliders_control {
    min-height: 20px;
    position: relative;
}

#fromSlider {
    height: 0;
    position: absolute;
    top: 50%
}

/*-------------------------------------------------------------------
----															 ----
----						Section 5 - Aptitudes				 ----
----															 ----
-------------------------------------------------------------------*/

.accordion {
    width: 80%;
}

.accordion .content {
    display: none;
}

.accordion .item.open .content, .accordion .item.open .ptRestants {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.accordion .item.open .content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
     
}

.accordion .item.open .content img {
    width: 26px;
    height: 30px;
    margin-right: 10px;
}

.accordion .header {
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ddd;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.header > div:nth-child(2) {
    padding: 5px 10px 0 0;
}

.item, .content {
    border: 1px solid grey;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 5 - Sorts					 ----
----															 ----
-------------------------------------------------------------------*/

.deck {
   list-style: none; 
   display: flex;
   flex-direction: column;
   border: 1px solid grey;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.actif > div, .passif > div {
    display: flex;
    flex-direction: row;
}

/*-------------------------------------------------------------------
----															 ----
----						Section 5 - Enchantement			 ----
----															 ----
-------------------------------------------------------------------*/

#tab4 {
    flex-direction: row;
    justify-content: space-around;
}

.titreRunes, .titreEnchantement {
    margin-bottom: 20px;
}

.titreRunes p, .titreEnchantement p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.runes, .enchantement, .searchEnchant {
    border: 1px solid grey;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75); 
}

.runes, .enchantement, .searchEnchant {
    width: 40%; 
    height: 550px;
    margin-right: 5px;
}

.pageVide div div:first-child img {
    width: 24px;
    height: 24px;
}

.pageVide div div:last-child img {
    width: 25px;
    height: 25px;
}

.pageVide div div:nth-child(2) img {
    width: 40px;
    height: 31px;
}

.pageVide > div {  
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 0 10px;
    margin: 5px 5%;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75); 
}

.pageVide > div, .listeEnchantLiaison {
    border: 1px solid grey;
    border-radius: 5px;   
}

.pageVide > div, .listeEnchantLiaison div {
    justify-content: center;
    align-content: center;
    align-items: center;
}

.lesEnchants {
    padding: 0 10px;
}

.listeEnchantLiaison {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 5px;
    margin: 1px 0;
}

.listeEnchantLiaison > div img {
    width: 24px;
    height: 24px;
}

.listeEnchantLiaison > div p {
   padding: 0 5px; 
}

.listeEnchantLiaison div {
    display: flex;
    flex-direction: row;
}

.listeEnchantLiaison div img, .listeEnchantLiaison div p {
    margin: 0;
}

.pageVide > div:first-child {
    margin-top: 10px;
}

.pageVide > div:nth-child(10) {
    margin-bottom: 10px;
}

.pageVide > div > div:nth-child(2) > img:first-child {
    opacity: 0.6;
}

.enchantSpe {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    margin: 0 5px;
    justify-content: space-between;
    align-items: center;
}

.enchantSpe div:nth-child(2) {
    width: 25px;
    height: 25px;
    border: 1px solid grey;
}

.enchantSpe img {
    width: 32px;
    height: 32px;
}

.searchEnchant  {
    display: flex;
    flex-direction: column;
}

.searchEnchant div > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 5px;
}

.searchEnchant > div:nth-child(1), .searchEnchant > div:nth-child(2) {
    height: 50%;
}

.search-subli-container, .input-subli-container {
    display: flex;
    align-items: center;
}

.input-subli-container {
    position: relative;
}

.search-bar-subli {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button-subli-container {
    position: absolute;
    top: 0;
    right: 0;
}

.search-button-subli {
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button-subli img {
    width: 15px;
    height: 15px;
}

.search-results-subli {
    margin-top: 20px;
}

/*-------------------------------------------------------------------
----															 ----
----						Media Queries			             ----
----															 ----
-------------------------------------------------------------------*/

@media (max-width: 1600px) {

    main {
        flex-direction: column;
        align-items: center;
    }
    main > div {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-evenly;
    }
}

@media (min-width: 1600px) {
    main {
        flex-direction: row;
    }
    main > div:nth-child(1) {
        display: flex;
        flex-direction: row;  
    }
}